In [66]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
%matplotlib inline
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [67]:
DataFrame = {'Fecha': {0: '9-10-2018',
  1: '3-1-2019',
  2: '9-1-2019',
  3: '22-9-2013',
  4: '27-9-2019',
  5: '14-8-2015',
  6: '12-1-2013',
  7: '17-11-2012',
  8: '17-11-2013',
  9: '23-2-2015',
  10: '25-5-2019',
  11: '3-1-2013',
  12: '22-7-2011',
  13: '15-8-2019',
  14: '16-2-2012',
  15: '8-2-2019',
  16: '14-7-2015',
  17: '15-5-2014',
  18: '4-9-2013',
  19: '4-4-2019',
  20: '11-2-2013',
  21: '7-3-2013',
  22: '22-3-2018',
  23: '8-10-2018',
  24: '3-11-2012',
  25: '16-5-2011',
  26: '17-2-2011',
  27: '1-4-2016',
  28: '6-10-2010',
  29: '22-5-2013'},
 'Materia': {0: 'Materia 3',
  1: 'Materia 3',
  2: 'Materia 5',
  3: 'Materia 5',
  4: 'Materia 3',
  5: 'Materia 4',
  6: 'Materia 1',
  7: 'Materia 3',
  8: 'Materia 4',
  9: 'Materia 4',
  10: 'Materia 5',
  11: 'Materia 5',
  12: 'Materia 5',
  13: 'Materia 4',
  14: 'Materia 4',
  15: 'Materia 2',
  16: 'Materia 5',
  17: 'Materia 3',
  18: 'Materia 4',
  19: 'Materia 3',
  20: 'Materia 3',
  21: 'Materia 2',
  22: 'Materia 2',
  23: 'Materia 2',
  24: 'Materia 1',
  25: 'Materia 1',
  26: 'Materia 3',
  27: 'Materia 1',
  28: 'Materia 5',
  29: 'Materia 1'},
 'Nota': {0: 8,
  1: 6,
  2: 2,
  3: 7,
  4: 6,
  5: 4,
  6: 2,
  7: 5,
  8: 8,
  9: 5,
  10: 2,
  11: 9,
  12: 2,
  13: 7,
  14: 6,
  15: 3,
  16: 9,
  17: 7,
  18: 3,
  19: 2,
  20: 3,
  21: 7,
  22: 7,
  23: 7,
  24: 4,
  25: 3,
  26: 4,
  27: 9,
  28: 6,
  29: 4},
 'Padron': {0: 107093,
  1: 100837,
  2: 104831,
  3: 101190,
  4: 107897,
  5: 108628,
  6: 102369,
  7: 105474,
  8: 102144,
  9: 104736,
  10: 106903,
  11: 101340,
  12: 102479,
  13: 103409,
  14: 105891,
  15: 101001,
  16: 106022,
  17: 103358,
  18: 107839,
  19: 104121,
  20: 103528,
  21: 107271,
  22: 104244,
  23: 105089,
  24: 101006,
  25: 105860,
  26: 100851,
  27: 104937,
  28: 105603,
  29: 100039}}

In [68]:
RegistroNotas = pd.DataFrame(DataFrame)

# EJ 1 Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide resolver utilizando Pandas:

In [69]:
RegistroNotas.head()

       Fecha    Materia  Nota  Padron
0  9-10-2018  Materia 3     8  107093
1   3-1-2019  Materia 3     6  100837
2   9-1-2019  Materia 5     2  104831
3  22-9-2013  Materia 5     7  101190
4  27-9-2019  Materia 3     6  107897

A) Cuál es el promedio general de notas.

In [70]:
promedionotas = RegistroNotas['Nota'].mean()
promedionotas

5.233333333333333

B) Cuál es la nota más alta y la nota más baja registrada durante el año 2019.

In [71]:
RegistroNotas['Fecha'] = pd.to_datetime(RegistroNotas['Fecha'])
notas_2019 = RegistroNotas.loc[RegistroNotas['Fecha'].dt.year == 2019]

In [72]:
Nota_max = notas_2019['Nota'].max()
Nota_min = notas_2019['Nota'].min()
Nota_min, Nota_max

(2, 7)

C) Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.

In [73]:
notas_2019.head()

        Fecha    Materia  Nota  Padron
1  2019-03-01  Materia 3     6  100837
2  2019-09-01  Materia 5     2  104831
4  2019-09-27  Materia 3     6  107897
10 2019-05-25  Materia 5     2  106903
13 2019-08-15  Materia 4     7  103409

In [74]:
aprobadas_2019 = notas_2019.loc[notas_2019['Nota']>=4]
aprobadas_2019.head()

        Fecha    Materia  Nota  Padron
1  2019-03-01  Materia 3     6  100837
4  2019-09-27  Materia 3     6  107897
13 2019-08-15  Materia 4     7  103409

In [75]:
ElMasAprobado = aprobadas_2019.groupby(['Padron']).agg({'Nota':'count'})
ElMasAprobado.columns = ['Materias_aprobadas']
ElMasAprobado

        Materias_aprobadas
Padron
100837                   1
103409                   1
107897                   1

In [76]:
ElMasAprobado.nlargest(1, 'Materias_aprobadas')

        Materias_aprobadas
Padron
100837                   1

D) Cuál es la nota promedio por materia.

In [77]:
RegistroNotas.head()

       Fecha    Materia  Nota  Padron
0 2018-09-10  Materia 3     8  107093
1 2019-03-01  Materia 3     6  100837
2 2019-09-01  Materia 5     2  104831
3 2013-09-22  Materia 5     7  101190
4 2019-09-27  Materia 3     6  107897

In [15]:
RegistroNotas[['Materia','Nota']].groupby('Materia').agg({'Nota': 'mean'})

               Nota
Materia
Materia 1  4.400000
Materia 2  6.000000
Materia 3  5.125000
Materia 4  5.500000
Materia 5  5.285714

E) Cuál es la nota promedio por padrón.

In [16]:
RegistroNotas[['Padron','Nota']].groupby('Padron').agg({'Nota': 'mean'})

        Nota
Padron
100039     4
100837     6
100851     4
101001     3
101006     4
101190     7
101340     9
102144     8
102369     2
102479     2
103358     7
103409     7
103528     3
104121     2
104244     7
104736     5
104831     2
104937     9
105089     7
105474     5
105603     6
105860     3
105891     6
106022     9
106903     2
107093     8
107271     7
107839     3
107897     6
108628     4

# EJ 2 - Se tiene un registro de transacciones bancarias, de la forma (nro de transacción, tipo de transacción, cuenta origen, cuenta destino, fecha, hora, monto). Se pide resolver en Pandas:

In [17]:
transacciones = pd.DataFrame({'Cuenta destino': {0: np.nan,
  1: 'Cuenta 5',
  2: 'Cuenta 3',
  3: 'Cuenta 5',
  4: np.nan,
  5: 'Cuenta 5',
  6: 'Cuenta 5',
  7: 'Cuenta 1',
  8: 'Cuenta 1',
  9: 'Cuenta 3'},
 'Cuenta origen': {0: 'Cuenta 2',
  1: 'Cuenta 4',
  2: 'Cuenta 4',
  3: 'Cuenta 4',
  4: np.nan,
  5: 'Cuenta 1',
  6: 'Cuenta 5',
  7: 'Cuenta 4',
  8: 'Cuenta 2',
  9: 'Cuenta 1'},
 'Fecha': {0: '20/6/2019',
  1: '23/9/2018',
  2: '23/9/2018',
  3: '20/6/2019',
  4: '5/1/2020',
  5: '2/10/2019',
  6: '7/6/2019',
  7: '20/6/2019',
  8: '20/6/2019',
  9: '5/1/2020'},
 'Hora': {0: '15:45:00',
  1: '16:23:05',
  2: '15:45:00',
  3: '10:00:00',
  4: '15:45:00',
  5: '16:23:05',
  6: '10:00:00',
  7: '10:00:00',
  8: '10:00:00',
  9: '13:05:00'},
 'Monto': {0: 623.5045158295898,
  1: 524.5756366849977,
  2: 748.8179971312892,
  3: 303.0666733782986,
  4: 34.90759597331194,
  5: 505.8910615694537,
  6: 877.9884617175563,
  7: 428.733130382614,
  8: 227.6291011659257,
  9: 988.4288710245196},
 'Num. de transaccion': {0: 15,
  1: 16,
  2: 17,
  3: 18,
  4: 19,
  5: 20,
  6: 21,
  7: 22,
  8: 23,
  9: 24},
 'Tipo de transaccion': {0: 'Deposito',
  1: 'Transferencia',
  2: 'Deposito',
  3: 'Transferencia',
  4: np.nan,
  5: 'Deposito',
  6: 'Extraccion',
  7: np.nan,
  8: 'Deposito',
  9: 'Deposito'}})
transacciones

  Cuenta destino Cuenta origen  ... Num. de transaccion Tipo de transaccion
0            NaN      Cuenta 2  ...                  15            Deposito
1       Cuenta 5      Cuenta 4  ...                  16       Transferencia
2       Cuenta 3      Cuenta 4  ...                  17            Deposito
3       Cuenta 5      Cuenta 4  ...                  18       Transferencia
4            NaN           NaN  ...                  19                 NaN
5       Cuenta 5      Cuenta 1  ...                  20            Deposito
6       Cuenta 5      Cuenta 5  ...                  21          Extraccion
7       Cuenta 1      Cuenta 4  ...                  22                 NaN
8       Cuenta 1      Cuenta 2  ...                  23            Deposito
9       Cuenta 3      Cuenta 1  ...                  24            Deposito

[10 rows x 7 columns]

In [18]:
NuevoOrden = ['Num. de transaccion', 'Tipo de transaccion',  'Cuenta origen', 'Cuenta destino', 'Fecha', 'Hora', 'Monto' ]
transacciones=transacciones[NuevoOrden]
transacciones

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
0                   15            Deposito  ...  15:45:00  623.504516
1                   16       Transferencia  ...  16:23:05  524.575637
2                   17            Deposito  ...  15:45:00  748.817997
3                   18       Transferencia  ...  10:00:00  303.066673
4                   19                 NaN  ...  15:45:00   34.907596
5                   20            Deposito  ...  16:23:05  505.891062
6                   21          Extraccion  ...  10:00:00  877.988462
7                   22                 NaN  ...  10:00:00  428.733130
8                   23            Deposito  ...  10:00:00  227.629101
9                   24            Deposito  ...  13:05:00  988.428871

[10 rows x 7 columns]

A) Validar que todas las transacciones cuenten con un tipo de transacción.

In [19]:
transacciones.dropna(subset=["Tipo de transaccion"],inplace=True)
transacciones

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
0                   15            Deposito  ...  15:45:00  623.504516
1                   16       Transferencia  ...  16:23:05  524.575637
2                   17            Deposito  ...  15:45:00  748.817997
3                   18       Transferencia  ...  10:00:00  303.066673
5                   20            Deposito  ...  16:23:05  505.891062
6                   21          Extraccion  ...  10:00:00  877.988462
8                   23            Deposito  ...  10:00:00  227.629101
9                   24            Deposito  ...  13:05:00  988.428871

[8 rows x 7 columns]

B) Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino

In [20]:
filtradas_por_transaccion = transacciones[transacciones['Tipo de transaccion'] == 'Transferencia'].dropna(subset=['Cuenta origen', 'Cuenta destino'], inplace=False)
filtradas_por_transaccion

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
1                   16       Transferencia  ...  16:23:05  524.575637
3                   18       Transferencia  ...  10:00:00  303.066673

[2 rows x 7 columns]

C) Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.

In [21]:
transacciones

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
0                   15            Deposito  ...  15:45:00  623.504516
1                   16       Transferencia  ...  16:23:05  524.575637
2                   17            Deposito  ...  15:45:00  748.817997
3                   18       Transferencia  ...  10:00:00  303.066673
5                   20            Deposito  ...  16:23:05  505.891062
6                   21          Extraccion  ...  10:00:00  877.988462
8                   23            Deposito  ...  10:00:00  227.629101
9                   24            Deposito  ...  13:05:00  988.428871

[8 rows x 7 columns]

In [22]:
trans_trans_dep_ext = transacciones.loc[ (transacciones['Tipo de transaccion'].str.contains('Transferencia')) |\
                                          (transacciones['Tipo de transaccion'].str.contains('Deposito'))|\
                                          (transacciones['Tipo de transaccion'].str.contains('Extraccion'))]
trans_trans_dep_ext

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
0                   15            Deposito  ...  15:45:00  623.504516
1                   16       Transferencia  ...  16:23:05  524.575637
2                   17            Deposito  ...  15:45:00  748.817997
3                   18       Transferencia  ...  10:00:00  303.066673
5                   20            Deposito  ...  16:23:05  505.891062
6                   21          Extraccion  ...  10:00:00  877.988462
8                   23            Deposito  ...  10:00:00  227.629101
9                   24            Deposito  ...  13:05:00  988.428871

[8 rows x 7 columns]

In [23]:
trans_trans_dep_ext[trans_trans_dep_ext['Monto'] == 0]

Empty DataFrame
Columns: [Num. de transaccion, Tipo de transaccion, Cuenta origen, Cuenta destino, Fecha, Hora, Monto]
Index: []

D) Indicar cuáles fueron las 5 transacciones de mayor monto.

In [24]:
transacciones.nlargest(5,'Monto')

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
9                   24            Deposito  ...  13:05:00  988.428871
6                   21          Extraccion  ...  10:00:00  877.988462
2                   17            Deposito  ...  15:45:00  748.817997
0                   15            Deposito  ...  15:45:00  623.504516
1                   16       Transferencia  ...  16:23:05  524.575637

[5 rows x 7 columns]

E) Indicar cuál es el tipo de transacción que registra mayor monto promedio.

In [25]:
transacciones.groupby('Tipo de transaccion').agg({'Monto':'mean'}).nlargest(1,'Monto')

                          Monto
Tipo de transaccion
Extraccion           877.988462

F) Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.

In [26]:
transacciones_x_cuenta= transacciones.groupby('Cuenta origen').agg({'Num. de transaccion':'count', 'Monto':'max'}).nlargest(5,'Num. de transaccion')
transacciones_x_cuenta

               Num. de transaccion       Monto
Cuenta origen
Cuenta 4                         3  748.817997
Cuenta 1                         2  988.428871
Cuenta 2                         2  623.504516
Cuenta 5                         1  877.988462

Cambiar posicion de las columnas

In [27]:
transacciones_x_cuenta = transacciones_x_cuenta[['Monto', 'Num. de transaccion']]
transacciones_x_cuenta

                    Monto  Num. de transaccion
Cuenta origen
Cuenta 4       748.817997                    3
Cuenta 1       988.428871                    2
Cuenta 2       623.504516                    2
Cuenta 5       877.988462                    1

G) Indicar cuáles son las 5 cuentas con mayor monto involucrado.

In [28]:
transacciones.groupby('Cuenta origen').agg({'Monto':'sum'}).nlargest(5,'Monto')

                     Monto
Cuenta origen
Cuenta 4       1576.460307
Cuenta 1       1494.319933
Cuenta 5        877.988462
Cuenta 2        851.133617

H) Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones.

In [29]:
transaccion_con_mayor_promedio = transacciones.groupby('Tipo de transaccion').agg({'Monto':'mean'}).nlargest(1,'Monto')
transaccion_con_mayor_promedio.index[0]

'Extraccion'

In [30]:
transacciones.loc[transacciones['Tipo de transaccion'] == transaccion_con_mayor_promedio.index[0]].nlargest(1,'Monto')

   Num. de transaccion Tipo de transaccion  ...      Hora       Monto
6                   21          Extraccion  ...  10:00:00  877.988462

[1 rows x 7 columns]

# EJ 3 )

In [31]:
Fabrica = pd.DataFrame({'Codigo fabricante': {0: 4,
  1: 13,
  2: 11,
  3: 4,
  4: 15,
  5: 12,
  6: 3,
  7: 14,
  8: 3,
  9: 9,
  10: 10,
  11: 2,
  12: 10,
  13: 15,
  14: 9,
  15: 16,
  16: 15,
  17: 2,
  18: 4,
  19: 3,
  20: 16,
  21: 5,
  22: 10,
  23: 2,
  24: 16,
  25: 3,
  26: 3,
  27: 10,
  28: 8,
  29: 14,
  30: 11,
  31: 15,
  32: 12,
  33: 17,
  34: 6,
  35: 5},
 'Codigo producto': {0: 0,
  1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 1,
  13: 1,
  14: 1,
  15: 1,
  16: 1,
  17: 1,
  18: 1,
  19: 1,
  20: 1,
  21: 1,
  22: 1,
  23: 1,
  24: 2,
  25: 2,
  26: 2,
  27: 2,
  28: 2,
  29: 2,
  30: 2,
  31: 2,
  32: 2,
  33: 2,
  34: 2,
  35: 2},
 'Mes': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 1,
  13: 2,
  14: 3,
  15: 4,
  16: 5,
  17: 6,
  18: 7,
  19: 8,
  20: 9,
  21: 10,
  22: 11,
  23: 12,
  24: 1,
  25: 2,
  26: 3,
  27: 4,
  28: 5,
  29: 6,
  30: 7,
  31: 8,
  32: 9,
  33: 10,
  34: 11,
  35: 12},
 'Ventas mensuales': {0: 457,
  1: 197,
  2: 155,
  3: 308,
  4: 38,
  5: 406,
  6: 430,
  7: 323,
  8: 146,
  9: 498,
  10: 78,
  11: 338,
  12: 426,
  13: 273,
  14: 75,
  15: 395,
  16: 101,
  17: 489,
  18: 104,
  19: 313,
  20: 194,
  21: 463,
  22: 323,
  23: 457,
  24: 369,
  25: 255,
  26: 460,
  27: 103,
  28: 71,
  29: 281,
  30: 202,
  31: 345,
  32: 380,
  33: 196,
  34: 324,
  35: 187}})
Fabrica.head()

   Codigo fabricante  Codigo producto  Mes  Ventas mensuales
0                  4                0    1               457
1                 13                0    2               197
2                 11                0    3               155
3                  4                0    4               308
4                 15                0    5                38

A) Promedio por producto con el siguiente formato:

In [32]:
promedio_mensual_ventas = Fabrica.groupby('Codigo producto').agg({'Ventas mensuales':'mean'})
promedio_mensual_ventas.columns = ['Promedio de ventas']
promedio_mensual_ventas.reset_index()

   Codigo producto  Promedio de ventas
0                0          281.166667
1                1          301.083333
2                2          264.416667

B) Mínimo, Máximo y Promedio de ventas por producto con el formato:

In [33]:
tabla_mensual_ventas = Fabrica.groupby('Codigo producto').agg({'Ventas mensuales':['min','max','mean'],})
tabla_mensual_ventas.stack()

                      Ventas mensuales
Codigo producto
0               min          38.000000
                max         498.000000
                mean        281.166667
1               min          75.000000
                max         489.000000
                mean        301.083333
2               min          71.000000
                max         460.000000
                mean        264.416667

In [78]:
tabla_mensual_ventas.columns = ['Minimo ventas mensual','Maximo ventas mensual','Promedio ventas mensual']
tabla_mensual_ventas.stack()

Codigo producto
0                Minimo ventas mensual       38.000000
                 Maximo ventas mensual      498.000000
                 Promedio ventas mensual    281.166667
1                Minimo ventas mensual       75.000000
                 Maximo ventas mensual      489.000000
                 Promedio ventas mensual    301.083333
2                Minimo ventas mensual       71.000000
                 Maximo ventas mensual      460.000000
                 Promedio ventas mensual    264.416667
dtype: float64

C) Mínimo, Máximo y Promedio de ventas por producto con el formato:

In [35]:
tabla_mensual_ventas = Fabrica.groupby('Codigo producto').agg({'Ventas mensuales':['min','max','mean'],})
tabla_mensual_ventas.columns = ['Minimo ventas mensual','Maximo ventas mensual','Promedio ventas mensual']
tabla_mensual_ventas.reset_index(inplace=True)
tabla_mensual_ventas

   Codigo producto  ...  Promedio ventas mensual
0                0  ...               281.166667
1                1  ...               301.083333
2                2  ...               264.416667

[3 rows x 4 columns]

D) Mínimo, Máximo y Promedio de ventas por producto con el formato:

In [36]:
tabla_mensual_ventas = Fabrica.groupby('Codigo producto').agg({'Ventas mensuales':['min','max','mean'],})
tabla_mensual_ventas.columns = ['Minimo ventas mensual','Maximo ventas mensual','Promedio ventas mensual']
tabla_mensual_ventas.T

Codigo producto                   0           1           2
Minimo ventas mensual     38.000000   75.000000   71.000000
Maximo ventas mensual    498.000000  489.000000  460.000000
Promedio ventas mensual  281.166667  301.083333  264.416667

E)Qué productos son provistos por los distintos fabricantes, indicando True/False con el siguiente formato:

In [37]:
Fabrica.head()

   Codigo fabricante  Codigo producto  Mes  Ventas mensuales
0                  4                0    1               457
1                 13                0    2               197
2                 11                0    3               155
3                  4                0    4               308
4                 15                0    5                38

In [38]:
Fabrica['prueba'] = True
Fabrica.groupby(['Codigo fabricante','Codigo producto']).agg({'prueba':'max'}).pivot_table(index='Codigo fabricante',columns='Codigo producto',values='prueba', fill_value=False).T

Codigo fabricante     2     3      4      5   ...     14    15     16     17
Codigo producto                               ...
0                   True  True   True  False  ...   True  True  False  False
1                   True  True   True   True  ...  False  True   True  False
2                  False  True  False   True  ...   True  True   True   True

[3 rows x 15 columns]

# EJ 4) Un sitio de Ebooks tiene información sobre los reviews que los usuarios hacen de sus libros en un DataFrame con formato (user_id, book_id, rating, timestamp). Por otro lado tenemos información en otro DataFrame que bajamos de GoodReads: (book_id, book_name, avg_rating). Podemos suponer que los Ids de los libros son compatibles. Se pide usar Python Pandas para:

In [39]:
Reviews = pd.DataFrame({'book_id': {0: 0,
  1: 0,
  2: 0,
  3: 1,
  4: 1,
  5: 1,
  6: 2,
  7: 2,
  8: 2,
  9: 3,
  10: 3,
  11: 3,
  12: 4,
  13: 4,
  14: 4},
 'rating': {0: 59.522056265923574,
  1: 70.10322101598867,
  2: 3.8532928384898524,
  3: 51.346708672441586,
  4: 38.46626694587157,
  5: 38.26719957588587,
  6: 28.810972510055286,
  7: 65.3686925157291,
  8: 72.40668586489612,
  9: 69.5289261594135,
  10: 80.32007236617602,
  11: 75.9943990987131,
  12: 26.5162143229417,
  13: 92.99247814228764,
  14: 2.5215410927763027},
 'timestamp': {0: '20/5/2019',
  1: '7/6/2018',
  2: '20/5/2019',
  3: '20/5/2019',
  4: '20/5/2019',
  5: '10/3/20',
  6: '10/3/20',
  7: '10/3/20',
  8: '7/6/2018',
  9: '7/6/2018',
  10: '10/3/20',
  11: '20/5/2019',
  12: '10/3/20',
  13: '10/3/20',
  14: '10/3/20'},
 'user_id': {0: 55,
  1: 23,
  2: 46,
  3: 78,
  4: 98,
  5: 103,
  6: 120,
  7: 65,
  8: 53,
  9: 16,
  10: 41,
  11: 63,
  12: 70,
  13: 91,
  14: 24}})

Reviews.head()

   book_id     rating  timestamp  user_id
0        0  59.522056  20/5/2019       55
1        0  70.103221   7/6/2018       23
2        0   3.853293  20/5/2019       46
3        1  51.346709  20/5/2019       78
4        1  38.466267  20/5/2019       98

In [40]:
Raiting = pd.DataFrame({'avg_rating': {0: 43.371208005441694,
  1: 10.661227482329426,
  2: 16.240649884087823,
  3: 5.336424180265187,
  4: 27.039960405450103},
 'book_id': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'book_name': {0: '1984',
  1: 'Big Data',
  2: 'A Clockwork Orange',
  3: 'Calculo II',
  4: 'C Programming'}})

Raiting

   avg_rating  book_id           book_name
0   43.371208        0                1984
1   10.661227        1            Big Data
2   16.240650        2  A Clockwork Orange
3    5.336424        3          Calculo II
4   27.039960        4       C Programming

A) Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks. (Para este punto se puede ignorar el segundo DataFrame).

In [41]:
Reviews['avg_rating_ebooks'] = Reviews.groupby('book_id')['rating'].transform('mean')
Reviews.drop_duplicates('book_id').nlargest(5, 'avg_rating_ebooks')

    book_id     rating  timestamp  user_id  avg_rating_ebooks
9         3  69.528926   7/6/2018       16          75.281133
6         2  28.810973    10/3/20      120          55.528784
0         0  59.522056  20/5/2019       55          44.492857
3         1  51.346709  20/5/2019       78          42.693392
12        4  26.516214    10/3/20       70          40.676745

B) Obtener un DataFrame que indique qué libros tienen una diferencia de rating promedio mayor al 20% entre el sitio de Ebooks y GoodReads.

In [42]:
Reviews.head()

   book_id     rating  timestamp  user_id  avg_rating_ebooks
0        0  59.522056  20/5/2019       55          44.492857
1        0  70.103221   7/6/2018       23          44.492857
2        0   3.853293  20/5/2019       46          44.492857
3        1  51.346709  20/5/2019       78          42.693392
4        1  38.466267  20/5/2019       98          42.693392

In [43]:
Reviews = Reviews.merge(Raiting)
Reviews.loc[((Reviews['avg_rating_ebooks']* 100 / Reviews['avg_rating']) > 120) | ((Reviews['avg_rating_ebooks']* 100 / Reviews['avg_rating']) < 80)].drop_duplicates('book_id')

    book_id     rating  ... avg_rating           book_name
3         1  51.346709  ...  10.661227            Big Data
6         2  28.810973  ...  16.240650  A Clockwork Orange
9         3  69.528926  ...   5.336424          Calculo II
12        4  26.516214  ...  27.039960       C Programming

[4 rows x 7 columns]

# EJ 5 - La Agencia Nacional de Estadísticas de Buenos Aires recolecta información de nacimientos cuando los padres registran a sus hijos en el registro civil a partir de una encuesta. Esa información se encuentra disponible para su análisis en un csv con el siguiente formato (dia_nacimiento, mes_nacimiento, anio_nacimiento, peso_al_nacer, longitud_al_nacer, id_hospital, tipo_parto), donde el tipo de parto 1 es natural y 2 es cesárea. Por otro lado la agencia cuenta con información histórica de los hospitales en otro csv con siguiente formato (id_hospital, dirección, promedio_nacimientos_mensual). Se pide usar Pandas para:

In [44]:
Encuesta = pd.DataFrame({'anio_nacimiento': {0: 2017,
  1: 2017,
  2: 2016,
  3: 2017,
  4: 2017,
  5: 2017,
  6: 2017,
  7: 2016,
  8: 2016,
  9: 2017,
  10: 2016,
  11: 2017,
  12: 2017,
  13: 2016,
  14: 2016,
  15: 2017,
  16: 2016,
  17: 2017,
  18: 2016,
  19: 2017,
  20: 2016,
  21: 2017,
  22: 2017,
  23: 2016,
  24: 2016,
  25: 2017,
  26: 2016,
  27: 2016,
  28: 2017,
  29: 2017,
  30: 2017,
  31: 2017,
  32: 2016,
  33: 2016,
  34: 2017,
  35: 2016,
  36: 2017,
  37: 2016,
  38: 2017,
  39: 2017,
  40: 2016,
  41: 2016,
  42: 2016,
  43: 2017,
  44: 2017,
  45: 2017,
  46: 2017,
  47: 2017,
  48: 2017,
  49: 2017,
  50: 2016,
  51: 2017,
  52: 2016,
  53: 2016,
  54: 2016,
  55: 2017,
  56: 2016,
  57: 2017,
  58: 2017,
  59: 2017,
  60: 2017,
  61: 2017,
  62: 2017,
  63: 2017,
  64: 2017,
  65: 2017,
  66: 2016,
  67: 2016,
  68: 2016,
  69: 2017,
  70: 2017,
  71: 2016,
  72: 2016,
  73: 2016,
  74: 2017,
  75: 2016,
  76: 2016,
  77: 2017,
  78: 2016,
  79: 2016,
  80: 2016,
  81: 2017,
  82: 2016,
  83: 2016,
  84: 2016,
  85: 2017,
  86: 2017,
  87: 2016,
  88: 2016,
  89: 2016,
  90: 2017,
  91: 2017,
  92: 2016,
  93: 2017,
  94: 2017,
  95: 2016,
  96: 2017,
  97: 2017,
  98: 2017,
  99: 2017,
  100: 2016,
  101: 2017,
  102: 2016,
  103: 2016,
  104: 2017,
  105: 2017,
  106: 2016,
  107: 2016,
  108: 2016,
  109: 2016,
  110: 2016,
  111: 2017,
  112: 2017,
  113: 2016,
  114: 2017,
  115: 2017,
  116: 2016,
  117: 2016,
  118: 2017,
  119: 2017,
  120: 2016,
  121: 2016,
  122: 2017,
  123: 2016,
  124: 2016,
  125: 2016,
  126: 2017,
  127: 2017,
  128: 2016,
  129: 2017,
  130: 2017,
  131: 2017,
  132: 2017,
  133: 2016,
  134: 2016,
  135: 2017,
  136: 2017,
  137: 2017,
  138: 2017,
  139: 2017,
  140: 2016,
  141: 2016,
  142: 2017,
  143: 2017,
  144: 2017,
  145: 2017,
  146: 2017,
  147: 2016,
  148: 2016,
  149: 2017,
  150: 2016,
  151: 2017,
  152: 2017,
  153: 2016,
  154: 2016,
  155: 2016,
  156: 2017,
  157: 2016,
  158: 2016,
  159: 2017,
  160: 2016,
  161: 2016,
  162: 2016,
  163: 2017,
  164: 2016,
  165: 2016,
  166: 2017,
  167: 2017,
  168: 2017,
  169: 2016,
  170: 2016,
  171: 2017,
  172: 2017,
  173: 2016,
  174: 2017,
  175: 2016,
  176: 2016,
  177: 2016,
  178: 2016,
  179: 2016,
  180: 2017,
  181: 2016,
  182: 2016,
  183: 2017,
  184: 2017,
  185: 2016,
  186: 2017,
  187: 2016,
  188: 2017,
  189: 2017,
  190: 2016,
  191: 2017,
  192: 2016,
  193: 2017,
  194: 2016,
  195: 2017,
  196: 2016,
  197: 2017,
  198: 2017,
  199: 2017},
 'dia_nacimiento': {0: 9,
  1: 3,
  2: 28,
  3: 14,
  4: 20,
  5: 25,
  6: 3,
  7: 29,
  8: 9,
  9: 21,
  10: 9,
  11: 15,
  12: 22,
  13: 30,
  14: 25,
  15: 16,
  16: 18,
  17: 19,
  18: 7,
  19: 2,
  20: 11,
  21: 16,
  22: 26,
  23: 6,
  24: 19,
  25: 10,
  26: 18,
  27: 26,
  28: 19,
  29: 3,
  30: 8,
  31: 6,
  32: 23,
  33: 28,
  34: 29,
  35: 13,
  36: 29,
  37: 22,
  38: 9,
  39: 29,
  40: 29,
  41: 15,
  42: 5,
  43: 29,
  44: 13,
  45: 25,
  46: 3,
  47: 27,
  48: 15,
  49: 8,
  50: 21,
  51: 4,
  52: 13,
  53: 8,
  54: 21,
  55: 26,
  56: 24,
  57: 27,
  58: 26,
  59: 12,
  60: 17,
  61: 12,
  62: 28,
  63: 13,
  64: 3,
  65: 6,
  66: 5,
  67: 23,
  68: 1,
  69: 8,
  70: 22,
  71: 13,
  72: 13,
  73: 22,
  74: 27,
  75: 26,
  76: 27,
  77: 11,
  78: 18,
  79: 12,
  80: 27,
  81: 30,
  82: 22,
  83: 18,
  84: 30,
  85: 16,
  86: 30,
  87: 17,
  88: 23,
  89: 30,
  90: 1,
  91: 28,
  92: 6,
  93: 14,
  94: 18,
  95: 14,
  96: 15,
  97: 6,
  98: 20,
  99: 16,
  100: 4,
  101: 12,
  102: 16,
  103: 3,
  104: 26,
  105: 8,
  106: 21,
  107: 12,
  108: 8,
  109: 27,
  110: 4,
  111: 8,
  112: 6,
  113: 5,
  114: 3,
  115: 15,
  116: 5,
  117: 3,
  118: 26,
  119: 7,
  120: 2,
  121: 24,
  122: 30,
  123: 21,
  124: 9,
  125: 20,
  126: 14,
  127: 11,
  128: 1,
  129: 30,
  130: 23,
  131: 23,
  132: 30,
  133: 27,
  134: 3,
  135: 17,
  136: 13,
  137: 16,
  138: 12,
  139: 19,
  140: 22,
  141: 24,
  142: 24,
  143: 21,
  144: 28,
  145: 8,
  146: 24,
  147: 8,
  148: 2,
  149: 3,
  150: 30,
  151: 7,
  152: 27,
  153: 11,
  154: 1,
  155: 19,
  156: 2,
  157: 25,
  158: 29,
  159: 22,
  160: 14,
  161: 11,
  162: 5,
  163: 23,
  164: 7,
  165: 30,
  166: 7,
  167: 2,
  168: 11,
  169: 11,
  170: 17,
  171: 14,
  172: 6,
  173: 29,
  174: 21,
  175: 2,
  176: 25,
  177: 28,
  178: 30,
  179: 1,
  180: 13,
  181: 25,
  182: 17,
  183: 16,
  184: 23,
  185: 8,
  186: 30,
  187: 29,
  188: 10,
  189: 14,
  190: 2,
  191: 3,
  192: 20,
  193: 15,
  194: 12,
  195: 9,
  196: 12,
  197: 1,
  198: 25,
  199: 8},
 'id_hospital': {0: 0,
  1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0,
  13: 0,
  14: 0,
  15: 0,
  16: 0,
  17: 0,
  18: 0,
  19: 0,
  20: 0,
  21: 0,
  22: 0,
  23: 0,
  24: 0,
  25: 0,
  26: 0,
  27: 0,
  28: 0,
  29: 0,
  30: 0,
  31: 0,
  32: 0,
  33: 0,
  34: 0,
  35: 0,
  36: 0,
  37: 0,
  38: 0,
  39: 0,
  40: 1,
  41: 1,
  42: 1,
  43: 1,
  44: 1,
  45: 1,
  46: 1,
  47: 1,
  48: 1,
  49: 1,
  50: 1,
  51: 1,
  52: 1,
  53: 1,
  54: 1,
  55: 1,
  56: 1,
  57: 1,
  58: 1,
  59: 1,
  60: 1,
  61: 1,
  62: 1,
  63: 1,
  64: 1,
  65: 1,
  66: 1,
  67: 1,
  68: 1,
  69: 1,
  70: 1,
  71: 1,
  72: 1,
  73: 1,
  74: 1,
  75: 1,
  76: 1,
  77: 1,
  78: 1,
  79: 1,
  80: 2,
  81: 2,
  82: 2,
  83: 2,
  84: 2,
  85: 2,
  86: 2,
  87: 2,
  88: 2,
  89: 2,
  90: 2,
  91: 2,
  92: 2,
  93: 2,
  94: 2,
  95: 2,
  96: 2,
  97: 2,
  98: 2,
  99: 2,
  100: 2,
  101: 2,
  102: 2,
  103: 2,
  104: 2,
  105: 2,
  106: 2,
  107: 2,
  108: 2,
  109: 2,
  110: 2,
  111: 2,
  112: 2,
  113: 2,
  114: 2,
  115: 2,
  116: 2,
  117: 2,
  118: 2,
  119: 2,
  120: 3,
  121: 3,
  122: 3,
  123: 3,
  124: 3,
  125: 3,
  126: 3,
  127: 3,
  128: 3,
  129: 3,
  130: 3,
  131: 3,
  132: 3,
  133: 3,
  134: 3,
  135: 3,
  136: 3,
  137: 3,
  138: 3,
  139: 3,
  140: 3,
  141: 3,
  142: 3,
  143: 3,
  144: 3,
  145: 3,
  146: 3,
  147: 3,
  148: 3,
  149: 3,
  150: 3,
  151: 3,
  152: 3,
  153: 3,
  154: 3,
  155: 3,
  156: 3,
  157: 3,
  158: 3,
  159: 3,
  160: 4,
  161: 4,
  162: 4,
  163: 4,
  164: 4,
  165: 4,
  166: 4,
  167: 4,
  168: 4,
  169: 4,
  170: 4,
  171: 4,
  172: 4,
  173: 4,
  174: 4,
  175: 4,
  176: 4,
  177: 4,
  178: 4,
  179: 4,
  180: 4,
  181: 4,
  182: 4,
  183: 4,
  184: 4,
  185: 4,
  186: 4,
  187: 4,
  188: 4,
  189: 4,
  190: 4,
  191: 4,
  192: 4,
  193: 4,
  194: 4,
  195: 4,
  196: 4,
  197: 4,
  198: 4,
  199: 4},
 'longitud_al_nacer': {0: 0.47710083543829956,
  1: 0.6065276573016052,
  2: 0.6032147436476165,
  3: 0.34457642932414706,
  4: 0.47819050986538236,
  5: 0.46170402474035105,
  6: 0.31764077278797936,
  7: 0.6213852644194104,
  8: 0.4008057756014378,
  9: 0.44363205835302155,
  10: 0.6905152910261368,
  11: 0.43926016037062465,
  12: 0.3734912157809806,
  13: 0.34196727890068196,
  14: 0.35231459067834453,
  15: 0.6058275450820706,
  16: 0.6435554770257206,
  17: 0.6577228763165412,
  18: 0.5827812585766761,
  19: 0.5551677610827606,
  20: 0.5174846235778955,
  21: 0.5080299490810432,
  22: 0.6079034341171932,
  23: 0.47942052395947266,
  24: 0.31497096241404693,
  25: 0.4396913416855898,
  26: 0.586394068298326,
  27: 0.5139366724284962,
  28: 0.35048907295552023,
  29: 0.39125270093663045,
  30: 0.3701410696495631,
  31: 0.35315394163523095,
  32: 0.6498945977881674,
  33: 0.3425757299479373,
  34: 0.3717511649478491,
  35: 0.660159607681202,
  36: 0.6236291798832176,
  37: 0.552462752016063,
  38: 0.45997441408503376,
  39: 0.30404004317446615,
  40: 0.5700324848525693,
  41: 0.3730678609065888,
  42: 0.6104201046675495,
  43: 0.6018666738714662,
  44: 0.6654668885100651,
  45: 0.524512694379652,
  46: 0.31271119297767563,
  47: 0.5857350105566006,
  48: 0.45747171610046117,
  49: 0.33650864017409576,
  50: 0.37144789135695166,
  51: 0.673487004193151,
  52: 0.6320429678813279,
  53: 0.45379155351493305,
  54: 0.626641033942607,
  55: 0.3392631109298874,
  56: 0.5958800892851912,
  57: 0.41928646341040854,
  58: 0.5790446393146685,
  59: 0.37945103304400235,
  60: 0.37214078800395145,
  61: 0.6150711529421866,
  62: 0.5462932634159345,
  63: 0.39507326877565235,
  64: 0.41050903901770647,
  65: 0.6005135886328568,
  66: 0.4021033047471611,
  67: 0.6285374829449977,
  68: 0.5104008365854511,
  69: 0.40151292943611794,
  70: 0.5798549838304676,
  71: 0.3883099049877028,
  72: 0.6887929441844577,
  73: 0.6093973618907642,
  74: 0.5292115210189197,
  75: 0.38292235060193525,
  76: 0.36165542767160336,
  77: 0.6096210049249012,
  78: 0.4450362783334187,
  79: 0.6242653388274035,
  80: 0.41359258777262803,
  81: 0.4051503708788715,
  82: 0.5551892408450069,
  83: 0.6961547404262003,
  84: 0.5534919731622895,
  85: 0.3578997869615719,
  86: 0.5997776464152953,
  87: 0.3036339787047636,
  88: 0.408471024186661,
  89: 0.4206329820689356,
  90: 0.38498320104297057,
  91: 0.6120162791190731,
  92: 0.6645670436496136,
  93: 0.5336403212900651,
  94: 0.5100792128712355,
  95: 0.4194803774269679,
  96: 0.5578438373665557,
  97: 0.4399479341052288,
  98: 0.6967763425546221,
  99: 0.3492580226589037,
  100: 0.6527614239877695,
  101: 0.3217144838186867,
  102: 0.3795032626557593,
  103: 0.488307568948194,
  104: 0.5958715623246273,
  105: 0.43226875121263814,
  106: 0.3691113027787347,
  107: 0.5048442400082392,
  108: 0.4376279224928028,
  109: 0.4356166519147718,
  110: 0.5159712877711319,
  111: 0.3186348771699658,
  112: 0.419802716059229,
  113: 0.346552713561747,
  114: 0.6708730702912227,
  115: 0.32695562359291036,
  116: 0.31917801007957075,
  117: 0.4324022215428988,
  118: 0.590375018162254,
  119: 0.687316672424064,
  120: 0.6876320974975555,
  121: 0.3223554495234906,
  122: 0.6078199923562395,
  123: 0.37218341333474764,
  124: 0.46663091379426985,
  125: 0.4855931230574262,
  126: 0.37933977865665175,
  127: 0.3581107495451407,
  128: 0.3848268231903276,
  129: 0.31970909533559544,
  130: 0.6847157392744281,
  131: 0.5873877228585289,
  132: 0.3584434605826532,
  133: 0.5363944387425119,
  134: 0.6687200394973198,
  135: 0.35017614807857905,
  136: 0.6123298186169628,
  137: 0.6404390017893375,
  138: 0.6209372352487027,
  139: 0.6104645623242182,
  140: 0.6580907266075797,
  141: 0.35787120508477505,
  142: 0.6345606387247031,
  143: 0.6730165840012704,
  144: 0.48071698424414766,
  145: 0.5636479375633467,
  146: 0.3936618544758526,
  147: 0.3992424668343045,
  148: 0.6045902911347718,
  149: 0.35033671026275487,
  150: 0.6612318572206184,
  151: 0.4542089738692214,
  152: 0.4914538643530809,
  153: 0.5900760536192996,
  154: 0.5049207283084135,
  155: 0.5063462246550182,
  156: 0.4650525810673801,
  157: 0.6085996200010726,
  158: 0.4270280208096342,
  159: 0.684142028772697,
  160: 0.513795029064772,
  161: 0.687075845716474,
  162: 0.37936196766251173,
  163: 0.34575178437877613,
  164: 0.5756334839046173,
  165: 0.5645076190384435,
  166: 0.36272813531245296,
  167: 0.6882877951692306,
  168: 0.36448648773447945,
  169: 0.3216403937148203,
  170: 0.6885853034156234,
  171: 0.6039134460376114,
  172: 0.6205841508549552,
  173: 0.4850211473472697,
  174: 0.5475187022172968,
  175: 0.32611626983211817,
  176: 0.4186186450676544,
  177: 0.3857767842116192,
  178: 0.5610515690945947,
  179: 0.3329062560380991,
  180: 0.6748339517589329,
  181: 0.4671667543854934,
  182: 0.6079264403544697,
  183: 0.3949130343353192,
  184: 0.32807078262674433,
  185: 0.5660647248333104,
  186: 0.47555460179770487,
  187: 0.5302222477369234,
  188: 0.42984403896680856,
  189: 0.3545112517972846,
  190: 0.6726989577724596,
  191: 0.6787476730752198,
  192: 0.6148735785076607,
  193: 0.6331454361495703,
  194: 0.6972181864596874,
  195: 0.4288421569652224,
  196: 0.5820545483115249,
  197: 0.6377156834267164,
  198: 0.41156545793343496,
  199: 0.3466083295155835},
 'mes_nacimiento': {0: 10,
  1: 12,
  2: 2,
  3: 8,
  4: 4,
  5: 12,
  6: 11,
  7: 10,
  8: 3,
  9: 6,
  10: 6,
  11: 5,
  12: 1,
  13: 4,
  14: 4,
  15: 7,
  16: 7,
  17: 5,
  18: 7,
  19: 3,
  20: 8,
  21: 12,
  22: 7,
  23: 7,
  24: 7,
  25: 4,
  26: 8,
  27: 5,
  28: 6,
  29: 9,
  30: 6,
  31: 10,
  32: 2,
  33: 3,
  34: 11,
  35: 3,
  36: 2,
  37: 9,
  38: 8,
  39: 6,
  40: 10,
  41: 10,
  42: 4,
  43: 9,
  44: 5,
  45: 3,
  46: 8,
  47: 3,
  48: 4,
  49: 3,
  50: 9,
  51: 11,
  52: 6,
  53: 8,
  54: 7,
  55: 9,
  56: 10,
  57: 1,
  58: 11,
  59: 4,
  60: 11,
  61: 9,
  62: 9,
  63: 9,
  64: 2,
  65: 11,
  66: 11,
  67: 3,
  68: 9,
  69: 8,
  70: 1,
  71: 7,
  72: 6,
  73: 5,
  74: 4,
  75: 4,
  76: 12,
  77: 2,
  78: 6,
  79: 8,
  80: 2,
  81: 3,
  82: 10,
  83: 9,
  84: 8,
  85: 3,
  86: 6,
  87: 11,
  88: 11,
  89: 8,
  90: 2,
  91: 11,
  92: 1,
  93: 11,
  94: 6,
  95: 12,
  96: 8,
  97: 12,
  98: 9,
  99: 4,
  100: 1,
  101: 5,
  102: 5,
  103: 8,
  104: 10,
  105: 3,
  106: 8,
  107: 6,
  108: 3,
  109: 2,
  110: 4,
  111: 11,
  112: 3,
  113: 5,
  114: 4,
  115: 8,
  116: 3,
  117: 6,
  118: 1,
  119: 4,
  120: 8,
  121: 1,
  122: 10,
  123: 10,
  124: 4,
  125: 9,
  126: 3,
  127: 1,
  128: 10,
  129: 4,
  130: 9,
  131: 1,
  132: 4,
  133: 1,
  134: 5,
  135: 11,
  136: 4,
  137: 5,
  138: 8,
  139: 12,
  140: 10,
  141: 4,
  142: 10,
  143: 8,
  144: 12,
  145: 9,
  146: 8,
  147: 2,
  148: 10,
  149: 2,
  150: 5,
  151: 12,
  152: 8,
  153: 2,
  154: 8,
  155: 8,
  156: 6,
  157: 8,
  158: 4,
  159: 1,
  160: 4,
  161: 3,
  162: 2,
  163: 7,
  164: 5,
  165: 4,
  166: 9,
  167: 1,
  168: 1,
  169: 7,
  170: 12,
  171: 8,
  172: 8,
  173: 2,
  174: 9,
  175: 9,
  176: 9,
  177: 1,
  178: 7,
  179: 8,
  180: 3,
  181: 3,
  182: 3,
  183: 7,
  184: 4,
  185: 3,
  186: 4,
  187: 1,
  188: 7,
  189: 4,
  190: 7,
  191: 4,
  192: 1,
  193: 12,
  194: 3,
  195: 12,
  196: 10,
  197: 12,
  198: 11,
  199: 1},
 'peso_al_nacer': {0: 1.9388898027088217,
  1: 1.0386681314510855,
  2: 4.602570465445324,
  3: 4.755484794083619,
  4: 1.6035402162868786,
  5: 2.0807103529107143,
  6: 2.062848922773065,
  7: 2.0061290230940627,
  8: 2.7563212768549046,
  9: 1.958268636496988,
  10: 1.285690358465991,
  11: 4.605431174047398,
  12: 3.5926676700860836,
  13: 5.497524695200853,
  14: 5.560374728912983,
  15: 2.966213200937495,
  16: 1.5970576101380187,
  17: 3.112638802487345,
  18: 2.6366820137069156,
  19: 5.089135574089587,
  20: 4.3838714072590514,
  21: 3.4291191988138316,
  22: 1.479112312187877,
  23: 4.205581387060029,
  24: 2.5875848314115664,
  25: 1.324444554893426,
  26: 2.6015908701318757,
  27: 1.5050776892786786,
  28: 2.154151227943549,
  29: 5.711195505909655,
  30: 3.541201797027087,
  31: 4.7896463022294675,
  32: 3.033520888451512,
  33: 5.036256458328796,
  34: 3.0443374926059885,
  35: 4.681370190159591,
  36: 2.1841356228325193,
  37: 4.337515056365707,
  38: 1.855415807847334,
  39: 5.9103830432260605,
  40: 1.0590225589482936,
  41: 1.3434885056199781,
  42: 5.532116321860814,
  43: 3.0246493353438226,
  44: 4.255236968243213,
  45: 4.589023465443525,
  46: 1.7336470425782786,
  47: 1.8019888419549681,
  48: 2.08883711541372,
  49: 1.7028028051511181,
  50: 3.2659145715911633,
  51: 4.904328642222357,
  52: 1.8024469909477543,
  53: 5.578415306405407,
  54: 3.3368445363783072,
  55: 5.059241141207136,
  56: 1.1381660147752535,
  57: 4.0891809940347255,
  58: 4.978276422592748,
  59: 4.4002863314037075,
  60: 3.8685482277515106,
  61: 2.841095985446462,
  62: 2.3065177839541486,
  63: 3.1849965977604136,
  64: 3.975644117973586,
  65: 3.1621222042761,
  66: 2.930027296516169,
  67: 4.036156833588718,
  68: 1.0966214932325926,
  69: 4.914449289839684,
  70: 4.433871353727237,
  71: 2.610564738772476,
  72: 5.082441502989596,
  73: 2.8609024067771336,
  74: 2.0419865859854065,
  75: 5.620546173294904,
  76: 4.578868978836921,
  77: 3.2814883853135552,
  78: 2.7205000114359255,
  79: 1.6316718701000978,
  80: 2.074655011701861,
  81: 4.712033250212956,
  82: 2.791556410995094,
  83: 4.2524697768203,
  84: 1.9794084741886055,
  85: 1.3154202655417566,
  86: 1.4624045202827276,
  87: 2.365679665586907,
  88: 1.3081064510013527,
  89: 3.0893825189051207,
  90: 2.2383762567381673,
  91: 3.6333413255819216,
  92: 1.661777835804664,
  93: 3.3187842095936957,
  94: 1.3224530530057206,
  95: 4.58304197059376,
  96: 3.8147987472891733,
  97: 4.1253012780210305,
  98: 4.5433198354808875,
  99: 5.462576896369003,
  100: 3.3230234422168152,
  101: 3.6610841543266552,
  102: 4.013543620563054,
  103: 3.309626622386327,
  104: 2.564422148357147,
  105: 5.318775678853727,
  106: 4.6627970846312845,
  107: 4.366613917787264,
  108: 3.9008430621370067,
  109: 1.3907047590392239,
  110: 2.8629881113412616,
  111: 5.007458895579008,
  112: 2.179095951740222,
  113: 4.684967767455343,
  114: 1.696511057583646,
  115: 1.5746603283529594,
  116: 4.360584605001462,
  117: 5.106229505573676,
  118: 2.3261255249544806,
  119: 2.7898921533200873,
  120: 4.826596974606662,
  121: 1.178205380677675,
  122: 2.671988863249409,
  123: 5.839476721562093,
  124: 5.2112573263614035,
  125: 1.8415058403061733,
  126: 3.551680975857295,
  127: 4.1501700314782495,
  128: 2.291188406609281,
  129: 4.361054995816769,
  130: 5.626743385016944,
  131: 5.621882387207535,
  132: 5.081848781537186,
  133: 2.9472690267251376,
  134: 1.0953853893645813,
  135: 3.669934470621919,
  136: 5.529824764005152,
  137: 2.1571828988641615,
  138: 3.7244583494574033,
  139: 3.723523397253808,
  140: 3.637550292267759,
  141: 2.0730269066059877,
  142: 1.467762853415266,
  143: 5.6364618078547775,
  144: 4.851439106962055,
  145: 1.8670162182398244,
  146: 1.0180987966876827,
  147: 4.019797405518411,
  148: 3.7979555644438836,
  149: 4.536243532271476,
  150: 3.7566472634981216,
  151: 3.119690139239224,
  152: 2.6226110963424922,
  153: 3.0933395392265157,
  154: 3.3311826412595233,
  155: 3.780955987222537,
  156: 4.946680986262718,
  157: 2.279442386858692,
  158: 5.387650150150633,
  159: 5.157569187052376,
  160: 5.778959089575773,
  161: 4.403450378907314,
  162: 5.9802668718025425,
  163: 1.7018396689868645,
  164: 3.903121185118434,
  165: 4.11159285858043,
  166: 1.6751752137692018,
  167: 5.360526336920422,
  168: 5.064050916419859,
  169: 5.697964404787037,
  170: 4.570903775339651,
  171: 5.656484479702524,
  172: 1.2283388304004412,
  173: 4.70865256537021,
  174: 3.702400166500688,
  175: 5.590258008744445,
  176: 4.889006152544633,
  177: 4.853230078949528,
  178: 1.2409512060877366,
  179: 5.898406749073552,
  180: 4.746252293478676,
  181: 5.593561109860441,
  182: 1.290185682518362,
  183: 2.530243396273008,
  184: 5.187272506271508,
  185: 1.0114591117378882,
  186: 3.2011407625138526,
  187: 4.561185176024637,
  188: 3.8324537506867453,
  189: 4.1266252805978585,
  190: 2.7180652880766663,
  191: 3.765643141900427,
  192: 1.201512045090213,
  193: 4.753456268520131,
  194: 5.433898633643593,
  195: 4.967900227951452,
  196: 2.23812000125548,
  197: 2.7923267173305177,
  198: 4.8169509901696745,
  199: 3.8929560904675156},
 'tipo_parto': {0: 1,
  1: 1,
  2: 1,
  3: 2,
  4: 1,
  5: 1,
  6: 1,
  7: 2,
  8: 1,
  9: 2,
  10: 2,
  11: 2,
  12: 1,
  13: 2,
  14: 2,
  15: 1,
  16: 2,
  17: 2,
  18: 2,
  19: 2,
  20: 1,
  21: 2,
  22: 2,
  23: 1,
  24: 1,
  25: 1,
  26: 1,
  27: 2,
  28: 2,
  29: 1,
  30: 1,
  31: 1,
  32: 2,
  33: 1,
  34: 1,
  35: 1,
  36: 1,
  37: 2,
  38: 2,
  39: 1,
  40: 1,
  41: 2,
  42: 2,
  43: 1,
  44: 1,
  45: 1,
  46: 1,
  47: 1,
  48: 1,
  49: 1,
  50: 2,
  51: 1,
  52: 1,
  53: 1,
  54: 2,
  55: 1,
  56: 2,
  57: 1,
  58: 2,
  59: 1,
  60: 2,
  61: 2,
  62: 2,
  63: 2,
  64: 1,
  65: 1,
  66: 1,
  67: 2,
  68: 1,
  69: 2,
  70: 1,
  71: 2,
  72: 1,
  73: 2,
  74: 2,
  75: 2,
  76: 2,
  77: 2,
  78: 1,
  79: 2,
  80: 2,
  81: 1,
  82: 2,
  83: 2,
  84: 1,
  85: 1,
  86: 2,
  87: 2,
  88: 2,
  89: 2,
  90: 2,
  91: 2,
  92: 2,
  93: 1,
  94: 2,
  95: 1,
  96: 2,
  97: 1,
  98: 1,
  99: 1,
  100: 1,
  101: 1,
  102: 2,
  103: 2,
  104: 2,
  105: 1,
  106: 2,
  107: 1,
  108: 2,
  109: 2,
  110: 1,
  111: 2,
  112: 2,
  113: 1,
  114: 2,
  115: 2,
  116: 1,
  117: 2,
  118: 1,
  119: 1,
  120: 1,
  121: 1,
  122: 2,
  123: 2,
  124: 2,
  125: 1,
  126: 1,
  127: 1,
  128: 1,
  129: 1,
  130: 1,
  131: 2,
  132: 2,
  133: 2,
  134: 1,
  135: 1,
  136: 1,
  137: 1,
  138: 2,
  139: 2,
  140: 1,
  141: 1,
  142: 1,
  143: 1,
  144: 2,
  145: 1,
  146: 2,
  147: 2,
  148: 2,
  149: 1,
  150: 1,
  151: 2,
  152: 1,
  153: 1,
  154: 1,
  155: 2,
  156: 2,
  157: 1,
  158: 1,
  159: 2,
  160: 2,
  161: 2,
  162: 2,
  163: 1,
  164: 1,
  165: 2,
  166: 1,
  167: 1,
  168: 2,
  169: 2,
  170: 1,
  171: 2,
  172: 2,
  173: 1,
  174: 2,
  175: 2,
  176: 1,
  177: 2,
  178: 2,
  179: 2,
  180: 1,
  181: 1,
  182: 1,
  183: 2,
  184: 1,
  185: 1,
  186: 2,
  187: 1,
  188: 1,
  189: 1,
  190: 2,
  191: 2,
  192: 2,
  193: 1,
  194: 2,
  195: 1,
  196: 1,
  197: 2,
  198: 2,
  199: 2}})

In [45]:
InfoHistorica = pd.DataFrame({'direccion': {0: 'Direccion 1',
  1: 'Direccion 2',
  2: 'Direccion 3',
  3: 'Direccion 4',
  4: 'Direccion 5'},
 'id_hospital': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'promedio_nacimientos_mensual': {0: 6, 1: 3, 2: 3, 3: 5, 4: 3}})

In [46]:
InfoHistorica

     direccion  id_hospital  promedio_nacimientos_mensual
0  Direccion 1            0                             6
1  Direccion 2            1                             3
2  Direccion 3            2                             3
3  Direccion 4            3                             5
4  Direccion 5            4                             3

In [47]:
Encuesta.head()

   anio_nacimiento  dia_nacimiento  ...  peso_al_nacer  tipo_parto
0             2017               9  ...       1.938890           1
1             2017               3  ...       1.038668           1
2             2016              28  ...       4.602570           1
3             2017              14  ...       4.755485           2
4             2017              20  ...       1.603540           1

[5 rows x 7 columns]

A) Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos mensuales.

In [48]:
nacimientos_octubre_2017 = Encuesta.loc[(Encuesta['anio_nacimiento'] == 2017) & (Encuesta['mes_nacimiento'] == 10)]
nacimientos_octubre_2017

     anio_nacimiento  dia_nacimiento  ...  peso_al_nacer  tipo_parto
0               2017               9  ...       1.938890           1
31              2017               6  ...       4.789646           1
104             2017              26  ...       2.564422           2
122             2017              30  ...       2.671989           2
142             2017              24  ...       1.467763           1

[5 rows x 7 columns]

In [49]:
nacimientos_octubre_2017 = nacimientos_octubre_2017.groupby(['id_hospital']).agg({'dia_nacimiento':'count'})

In [50]:
nacimientos_octubre_2017.columns = ['nacimientos_octubre']
nacimientos_octubre_2017.reset_index(inplace=True)
nacimientos_octubre_2017

   id_hospital  nacimientos_octubre
0            0                    2
1            2                    1
2            3                    2

In [51]:
InfoHistorica.head()

     direccion  id_hospital  promedio_nacimientos_mensual
0  Direccion 1            0                             6
1  Direccion 2            1                             3
2  Direccion 3            2                             3
3  Direccion 4            3                             5
4  Direccion 5            4                             3

In [52]:
nacimientos_octubre_2017 = nacimientos_octubre_2017.merge(InfoHistorica)
nacimientos_octubre_2017.loc[nacimientos_octubre_2017['nacimientos_octubre'] > nacimientos_octubre_2017['promedio_nacimientos_mensual']]

Empty DataFrame
Columns: [id_hospital, nacimientos_octubre, direccion, promedio_nacimientos_mensual]
Index: []

B) Comparando el mes de Octubre de 2017 indicar programáticamente si se incremento el % de cesáreas con respecto a ese mes del año 2016.

In [53]:
nacimientos_octubre_2016_2017 = Encuesta.loc[((Encuesta['anio_nacimiento'] == 2017) | (Encuesta['anio_nacimiento'] == 2016)) & (Encuesta['mes_nacimiento'] == 10)]
nacimientos_octubre_2016_2017.groupby('anio_nacimiento').agg({'tipo_parto':'mean'})

                 tipo_parto
anio_nacimiento
2016                    1.6
2017                    1.4

# 6) El GCPD (Gotham City Police Dept) recolecta la información de casos policiales que acontecen en Ciudad Gótica. Esta información se encuentra guardada en un dataframe con el siguiente formato: (fecha, id_caso, descripcion, estado_caso, categoria, latitud, longitud). Los posibles estados que puede tener un caso son 1: caso abierto, 2: caso resuelto, 3: cerrado sin resolución. Las fechas se encuentran en el formato YYYY-MM-DD. Por otro lado el comisionado Gordon guarda un registro detallado sobre en cuáles casos fue activada la batiseñal para pedir ayuda del vigilante, Batman. Esta información se encuentra en un Dataframe con el siguiente formato (id_caso, respuesta), siendo campo respuesta si la señal tuvo una respuesta positiva (1) o negativa (0) de parte de él El sector encargado de las estadísticas oficiales del GCPD quiere con esta información analizar las siguientes situaciones:

In [54]:
#Creo un dataframe de prueba
casos = pd.DataFrame(columns = ['fecha', 'id','estado', 'categoria', 'latitud', 'longitud'], dtype = int)
fechas = ['2019-03-28', '2019-03-20', '2020-03-28', '2019-01-01', '2019-10-10', '2019-05-25', '2020-05-25']
estados = ['abierto', 'resuelto', 'no_resuelto']
categorias = ['robo', 'asesinato', 'secuestro', 'supervillano']

batiseñal = pd.DataFrame(columns = ['id', 'respuesta'])


for i in range(1000):
    casos = casos.append({
        'fecha': random.choice(fechas),
        'id': i,
        'estado': random.choice(estados),
        'categoria': random.choice(categorias),
        'latitud': random.uniform(-10,10),
        'longitud': random.uniform(-10,10)
    }, ignore_index = True)
    if i % 3 == 0:
        batiseñal = batiseñal.append({
            'id': i,
            'respuesta': random.randint(0,1)
        }, ignore_index = True)

In [55]:
casos = casos.set_index('id')

In [56]:
casos.head()

         fecha       estado     categoria   latitud  longitud
id
0   2019-10-10      abierto  supervillano  9.365247 -1.419526
1   2019-05-25  no_resuelto     secuestro -2.690255 -4.927776
2   2019-01-01      abierto     secuestro -4.682247  3.481195
3   2020-03-28     resuelto          robo  1.809701  2.887424
4   2019-01-01      abierto     asesinato -9.893002 -7.541596

In [57]:
batiseñal = batiseñal.set_index('id')

In [58]:
batiseñal.head()

   respuesta
id
0          0
3          0
6          1
9          1
12         1

A) Tasa de resolución de casos de la fuerza policial por categoría de caso (considerando aquellos casos en los que no participó Batman).

In [59]:
casos_exten = casos.merge(batiseñal, how='outer', on='id').fillna(0)
casos_exten.shape

(1000, 6)

In [60]:
casos_policia = casos_exten[casos_exten.respuesta == 0]
len(casos_policia[casos_policia.estado == 'resuelto'])*100/len(casos_exten)

27.3

B) Tasa de resolución de casos con la ayuda de Batman (considerando que aquellos casos en los que fue llamado con la batiseñal, participó en la resolución).

In [61]:
casos_batiseñal = casos.join(batiseñal, how='right')
casos_batiseñal

          fecha       estado     categoria   latitud  longitud respuesta
id
0    2019-10-10      abierto  supervillano  9.365247 -1.419526         0
3    2020-03-28     resuelto          robo  1.809701  2.887424         0
6    2019-05-25     resuelto  supervillano -6.151560 -2.577817         1
9    2019-10-10  no_resuelto     secuestro  4.425931  9.272268         1
12   2020-03-28     resuelto     secuestro -8.061740  5.888997         1
..          ...          ...           ...       ...       ...       ...
987  2019-03-20      abierto          robo -9.528310 -0.314857         1
990  2019-03-20      abierto  supervillano  0.936636  0.785375         0
993  2020-05-25      abierto          robo -5.795164  9.425667         0
996  2019-03-28      abierto  supervillano  6.002990 -8.230400         1
999  2019-03-20  no_resuelto  supervillano  8.992252  3.215233         0

[334 rows x 6 columns]

In [62]:
casos_batman = casos_batiseñal[casos_batiseñal.respuesta == 1]
len(casos_batman[casos_batman.estado == 'resuelto'])*100/len(casos_batiseñal)

14.071856287425149

C)Indicar el mes del año pasado en el que Batman tuvo mayor participación en la investigación de casos.

In [63]:
casos_batiseñal['fecha'] = pd.to_datetime(casos_batiseñal['fecha'])
casos_batiseñal['mes'] = casos_batiseñal['fecha'].dt.month
casos_batiseñal['anio'] = casos_batiseñal['fecha'].dt.year
casos_batiseñal = casos_batiseñal.loc[casos_batiseñal['anio'] == 2020]
casos_batiseñal

         fecha       estado     categoria  ...  respuesta  mes  anio
id                                         ...
3   2020-03-28     resuelto          robo  ...          0    3  2020
12  2020-03-28     resuelto     secuestro  ...          1    3  2020
21  2020-03-28      abierto          robo  ...          0    3  2020
27  2020-03-28     resuelto          robo  ...          0    3  2020
42  2020-03-28  no_resuelto          robo  ...          1    3  2020
..         ...          ...           ...  ...        ...  ...   ...
954 2020-05-25      abierto  supervillano  ...          0    5  2020
957 2020-03-28     resuelto     asesinato  ...          0    3  2020
969 2020-03-28  no_resuelto     asesinato  ...          1    3  2020
981 2020-03-28     resuelto     asesinato  ...          0    3  2020
993 2020-05-25      abierto          robo  ...          0    5  2020

[85 rows x 8 columns]

In [64]:
casos_batiseñal.loc[(casos_batiseñal['anio'] == 2020) & (casos_batiseñal['respuesta'] == 1)].groupby('mes').agg({'estado':'count'})

     estado
mes
3        24
5        20

# 7) Dada la exitosa convocatoria de los Juegos Olímpicos de la Juventud por parte del público, sus organizadores realizan distintos análisis para planificar las jornadas finales del certamen. Es por ello que cuentan con información en los siguientes archivos csv: eventos.csv (id_evento, fecha, id_locacion, nombre_evento, id_categoria_deportiva, cantidad_espectadores) locacion.csv (id_locacion, nombre, capacidad, capacidad_extendida, sede, latitud, longitud) categorias_deportivas.csv (id_categoria_deportiva, nombre, año_de_adopcion) El primer archivo cuenta con información de los eventos, indicando la fecha (en formato “YYYY-mm-dd hh:mm:ss”), el lugar donde ocurrió (id_locacion) y la cantidad de espectadores que asistieron. Además se aporta información sobre la categoría deportiva a la cual pertenece el evento. Por otro lado se tiene información sobre las distintas locaciones en la sedes del certamen en las que ocurrieron los eventos. Contamos con información de su capacidad total de espectadores así como de su capacidad extendida (cuantos asientos extras se pueden brindar sobre la capacidad de la locación). Se desea obtener:

In [79]:
#Creo un dataframe de prueba
eventos = pd.DataFrame(columns = ['id_evento', 'fecha','id_locacion', 'nombre_evento', 'id_categoria', 'cant_espectadores'], dtype = int)

locacion = pd.DataFrame({
    'id_locacion': [0, 1, 2, 3],
    'nombre': ['Lugar0','Lugar1', 'Lugar2', 'Lugar3'],
    'capacidad': [50, 100, 100, 150],
    'capacidad_extendida': [100, 150, 150, 200]
})

categoria = pd.DataFrame(columns = ['id_categoria', 'nombre'])
categoria = pd.DataFrame({
    'id_categoria':[0,1,2,3,4],
    'nombre':['Atletismo', 'Ciclismo', 'Futbol', 'Salto en Largo', 'Tiro con Arco']
})

for i in range(100):
    eventos = eventos.append({
        'id_evento': i,
        'fecha': random.choice(['2020-10-14 00:00:01', '2020-10-15 23:59:58', '2020-10-16 00:00:01']),
        'id_locacion': random.randint(0,3),
        'nombre_evento': 'Evento'+str(i),
        'id_categoria': random.randint(0,4),
        'cant_espectadores': random.randint(20, 250)
    }, ignore_index = True)

In [80]:
eventos.head()

   id_evento                fecha  ...  id_categoria cant_espectadores
0          0  2020-10-15 23:59:58  ...             1               200
1          1  2020-10-14 00:00:01  ...             3                69
2          2  2020-10-16 00:00:01  ...             1               121
3          3  2020-10-14 00:00:01  ...             3                84
4          4  2020-10-15 23:59:58  ...             2               236

[5 rows x 6 columns]

In [81]:
categoria.head()

   id_categoria          nombre
0             0       Atletismo
1             1        Ciclismo
2             2          Futbol
3             3  Salto en Largo
4             4   Tiro con Arco

In [82]:
locacion.head()

   id_locacion  nombre  capacidad  capacidad_extendida
0            0  Lugar0         50                  100
1            1  Lugar1        100                  150
2            2  Lugar2        100                  150
3            3  Lugar3        150                  200

A) Nombre de la sede que acumuló la mayor cantidad de espectadores en eventos durante el certamen del 14 al 15 de octubre inclusive. Esto es de vital importancia para distribuir el merchandising oficial del evento, para las fechas finales.

In [261]:
eventos[(eventos.fecha >= '2020-10-14 00:00:00') & (eventos.fecha <= '2020-10-15 23:59:59')].groupby('id_locacion').agg({'cant_espectadores': 'sum'}).reset_index().merge(locacion)[['nombre','cant_espectadores']].nlargest(1,'cant_espectadores')

   nombre  cant_espectadores
0  Lugar0               2639

B) Nombre del evento y nombre de la categoría deportiva de aquellos eventos cuya cantidad de espectadores superó la capacidad de la locación, más allá de la capacidad extendida. Esto es de vital importancia para detectar problemas de seguridad o si es necesario realizar algún cambio de locación.

In [95]:
eventos_exten = eventos.merge(locacion).merge(categoria, on='id_categoria')
eventos_exten.head()

   id_evento                fecha  ...  capacidad_extendida  nombre_y
0          0  2020-10-15 23:59:58  ...                  150  Ciclismo
1          2  2020-10-16 00:00:01  ...                  150  Ciclismo
2         10  2020-10-16 00:00:01  ...                  150  Ciclismo
3         19  2020-10-16 00:00:01  ...                  150  Ciclismo
4         33  2020-10-16 00:00:01  ...                  150  Ciclismo

[5 rows x 10 columns]

In [96]:
eventos_exten.loc[eventos_exten['capacidad'] < eventos['cant_espectadores'], ['nombre_evento','nombre_y','nombre_x','cant_espectadores','capacidad']]

   nombre_evento   nombre_y nombre_x  cant_espectadores  capacidad
0        Evento0   Ciclismo   Lugar1                200        100
2       Evento10   Ciclismo   Lugar1                160        100
4       Evento33   Ciclismo   Lugar1                 86        100
5       Evento35   Ciclismo   Lugar1                240        100
8       Evento89   Ciclismo   Lugar1                 92        100
..           ...        ...      ...                ...        ...
93      Evento70  Atletismo   Lugar0                198         50
94      Evento46  Atletismo   Lugar2                171        100
96      Evento79  Atletismo   Lugar2                211        100
97      Evento55  Atletismo   Lugar3                102        150
98      Evento84  Atletismo   Lugar3                217        150

[71 rows x 5 columns]

# 8- El dataframe (sales) lista las ventas de productos con los siguientes campos: Dia, Mes, Año, ProductID, Importe(USD). Para un mismo dia, mes y año puede venderse n veces el mismo producto. Por otro lado tenemos una descripción de los productos en el dataframe (products): ProductId, Title, Category, Description. Category puede ser "Men", "Women", "Kids". Proponer un programa en Pandas que permita:

In [164]:
#Creo un dataframe de prueba
sales = pd.DataFrame(columns = ['dia', 'mes','anio', 'productid', 'importe'], dtype = int)

products = pd.DataFrame({
    'productid': [0, 1, 2, 3, 4],
    'title': ['Producto 0', 'Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'description' : ['A','B','C','D','E'],
    'category': ['Men', 'Women', 'Kids', 'Men', 'Women']
})

for i in range(100):
    sales = sales.append({
        'dia' : random.randint(1,30),
        'mes' :  random.randint(1,12),
        'anio' : random.randint(2017, 2021),
        'productid' : random.randint(0,4),
        'importe' : random.randint(200,1000)
    }, ignore_index = True)

In [172]:
sales.head()

   dia  mes  anio  productid  importe
0   26    2  2017          4      308
1   20    2  2017          4      275
2   16   11  2019          2      362
3    8    6  2017          4      253
4   13    7  2017          4      763

In [173]:
products

   productid       title description category
0          0  Producto 0           A      Men
1          1  Producto 1           B    Women
2          2  Producto 2           C     Kids
3          3  Producto 3           D      Men
4          4  Producto 4           E    Women

A) Indicar los títulos de los productos de la categoría "Men" para los cuales el Importe de venta supera el promedio mensual de ventas de los productos de la misma categoría. (por ejemplo si el promedio de Abril de "Men" es 120 dolares y un producto se vendió en Abril a 135 dolares lo tenemos que listar). Usar Transform.

In [179]:
sales_exten = sales.merge(products)
sales_men = sales_exten.loc[sales_exten['category'] == 'Men']
sales_men.head()

    dia  mes  anio  productid  importe       title description category
52   20    3  2021          3      842  Producto 3           D      Men
53   13    1  2017          3      329  Producto 3           D      Men
54    8    9  2018          3      405  Producto 3           D      Men
55   21    6  2018          3      324  Producto 3           D      Men
56    7   10  2019          3      292  Producto 3           D      Men

In [190]:
sales_men['avg_mensual'] = sales_men.loc[:,['mes','productid','importe']].groupby(['productid','mes']).transform('mean')
sales_men.loc[sales_men['importe'] > sales_men['avg_mensual']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    dia  mes  anio  productid  ...       title description category avg_mensual
58   15    6  2021          3  ...  Producto 3           D      Men  521.000000
59   26   10  2020          3  ...  Producto 3           D      Men  320.000000
60   27    1  2020          3  ...  Producto 3           D      Men  370.000000
62   11    2  2020          3  ...  Producto 3           D      Men  592.500000
63   20    9  2020          3  ...  Producto 3           D      Men  438.000000
66    9   10  2021          0  ...  Producto 0           A      Men  550.250000
67    7    2  2019          0  ...  Producto 0           A      Men  409.000000
68   28    1  2018          0  ...  Producto 0           A      Men  605.000000
70   12    3  2021          0  ...  Producto 0           A      Men  406.333333
81   15    1  2019          0  ...  Producto 0           A      Men  605.000000
83   27   12  2018          0  ...  Producto 0           A      Men  767.666667

[11 rows x 9 columns]

B) Indicar el top-10 de productos que se vendieron mayor cantidad de días de forma consecutiva.

In [197]:
#Nose como hacer...
sales.loc[:,['productid','anio','mes','dia']].groupby(['productid','anio','mes','dia']).agg({'productid':'count'})

                        productid
productid anio mes dia
0         2017 7   24           1
          2018 1   28           1
               2   1            1
               10  2            1
               12  27           1
...                           ...
4         2020 8   21           1
               12  23           1
          2021 4   19           1
               9   18           1
               10  2            1

[100 rows x 1 columns]

# 9) Un importante broker de compra y venta de vehiculos online se encuentra dando sus primeros pasos en la preparación de su algoritmo de pricing, es por eso que se encuentra generando algunos features iniciales para experimentar con distintos algoritmos de machine learning. Para ello cuenta con un archivo con información de todas las transacciones que tuvo en su primer año de operación en el formato (transaction_id, timestamp, vehicle_model_id, price). Por otro lado cuenta con información que fue extrayendo a partir de scrapping durante el último año en el formato (timestamp, source, vehicle_model_id, price). La información puede venir de múltiples fuentes (source), que pueden ser por ejemplo distintos sitios de marketplace o clasificados. Luego de un intenso trabajo previo ha podido unificar los modelos de vehículos que utiliza para sus transacciones con la información que ha podido obtener de otros competidores mediante scrapping. Muchos de los modelos disponibles en la información de scrapping no han sido aún comercializados por la empresa, pero se sabe que se cuenta con precios scrapeados de todos los modelos que se vendieron.

In [247]:
#Creo un dataframe de prueba
sales = pd.DataFrame(columns = ['transaction_id', 'timestamp', 'vehicle_model_id', 'price'], dtype = int)

scrapping = pd.DataFrame({
    'timestamp': [0, 1, 2, 3, 4, 5],
    'source': ['Sitio 0', 'Sitio 1', 'Sitio 2', 'Sitio 3', 'Sitio 4', 'Sitio 5'],
    'vehicle_model_id' : [0,1,2,3,0,1],
    'price': [3000, 4000, 3000, 3200, 3150, 3800]
})

for i in range(100):
    sales = sales.append({
        'transaction_id' : i,
        'timestamp' :  random.randint(0,5),
        'vehicle_model_id' : random.randint(0, 3),
        'price' : random.randint(2000,5000)
    }, ignore_index = True)

In [241]:
sales.head()

   transaction_id  timestamp  vehicle_model_id  price
0               0          3                 3   3926
1               1          4                 2   3935
2               2          2                 1   4746
3               3          5                 1   4710
4               4          4                 0   4096

In [248]:
scrapping.columns = ['timestamp_ext','source','vehicle_model_id','price_ext']
scrapping.head()

   timestamp_ext   source  vehicle_model_id  price_ext
0              0  Sitio 0                 0       3000
1              1  Sitio 1                 1       4000
2              2  Sitio 2                 2       3000
3              3  Sitio 3                 3       3200
4              4  Sitio 4                 0       3150

A) Se pide generar utilizando Pandas un dataframe que tenga el siguiente formato (vehicle_model_id, ext_mean_price, ext_std_price, int_mean_price, int_std_price), siendo: 
- mean_price: precio promedio para ese vehículo. 
- std_price: desvío estándar del precio para ese vehículo. 
y los prefijo ext_ y int_ indicando que deben ser calculado sobre respectivamente datos externos (los obtenido vía scraping) y datos internos (los de las transacciones).

In [249]:
sales_exten = sales.merge(scrapping, on='vehicle_model_id')
sales_exten['ext_mean_price'] = sales_exten.loc[:,['vehicle_model_id','price_ext']].groupby('vehicle_model_id').transform('mean')

In [253]:
sales_exten['ext_std_price'] = sales_exten.loc[:,['vehicle_model_id','price_ext']].groupby('vehicle_model_id').transform('std')
sales_exten

     transaction_id  timestamp  ...  ext_mean_price  ext_std_price
0                 0          4  ...            3075      75.678747
1                 0          4  ...            3075      75.678747
2                 4          0  ...            3075      75.678747
3                 4          0  ...            3075      75.678747
4                16          4  ...            3075      75.678747
..              ...        ...  ...             ...            ...
144              90          1  ...            3000       0.000000
145              93          0  ...            3000       0.000000
146              96          0  ...            3000       0.000000
147              97          1  ...            3000       0.000000
148              98          3  ...            3000       0.000000

[149 rows x 9 columns]

In [254]:
sales_exten['int_mean_price'] = sales_exten.loc[:,['vehicle_model_id','price']].groupby('vehicle_model_id').transform('mean')
sales_exten

     transaction_id  timestamp  ...  ext_std_price  int_mean_price
0                 0          4  ...      75.678747     3511.857143
1                 0          4  ...      75.678747     3511.857143
2                 4          0  ...      75.678747     3511.857143
3                 4          0  ...      75.678747     3511.857143
4                16          4  ...      75.678747     3511.857143
..              ...        ...  ...            ...             ...
144              90          1  ...       0.000000     3641.580645
145              93          0  ...       0.000000     3641.580645
146              96          0  ...       0.000000     3641.580645
147              97          1  ...       0.000000     3641.580645
148              98          3  ...       0.000000     3641.580645

[149 rows x 10 columns]

In [255]:
sales_exten['int_std_price'] = sales_exten.loc[:,['vehicle_model_id','price']].groupby('vehicle_model_id').transform('std')
sales_exten

     transaction_id  timestamp  ...  int_mean_price  int_std_price
0                 0          4  ...     3511.857143     855.571333
1                 0          4  ...     3511.857143     855.571333
2                 4          0  ...     3511.857143     855.571333
3                 4          0  ...     3511.857143     855.571333
4                16          4  ...     3511.857143     855.571333
..              ...        ...  ...             ...            ...
144              90          1  ...     3641.580645     891.650334
145              93          0  ...     3641.580645     891.650334
146              96          0  ...     3641.580645     891.650334
147              97          1  ...     3641.580645     891.650334
148              98          3  ...     3641.580645     891.650334

[149 rows x 11 columns]

tenga el siguiente formato (vehicle_model_id, ext_mean_price, ext_std_price, int_mean_price, int_std_price)

In [257]:
ptoa = sales_exten.loc[:,['vehicle_model_id', 'ext_mean_price',	'ext_std_price',	'int_mean_price',	'int_std_price']]
ptoa

     vehicle_model_id  ext_mean_price  ...  int_mean_price  int_std_price
0                   0            3075  ...     3511.857143     855.571333
1                   0            3075  ...     3511.857143     855.571333
2                   0            3075  ...     3511.857143     855.571333
3                   0            3075  ...     3511.857143     855.571333
4                   0            3075  ...     3511.857143     855.571333
..                ...             ...  ...             ...            ...
144                 2            3000  ...     3641.580645     891.650334
145                 2            3000  ...     3641.580645     891.650334
146                 2            3000  ...     3641.580645     891.650334
147                 2            3000  ...     3641.580645     891.650334
148                 2            3000  ...     3641.580645     891.650334

[149 rows x 5 columns]

# 10- Se tiene información diaria de la cotización de acciones en el NYSE en el archivo nyse_daily.csv en el siguiente formato (symbol, date, open, measure_midday, measure_afternoon, close, volume). Por cada acción cuyo nombre está indicado en el campo symbol, tendremos una entrada por fecha con los valores open, measure_midday, measure_afternoon, y close indicando respectivamente a qué valor abrio la acción, cuál fue el valor que tuvo al mediodía, cual fue su valor que tuvo por la tarde y cual fue su valor al cierre del mercado. Asimismo en volume se indica el volumen operado ese día para esa acción. Por otro lado se cuenta con el archivo s&p500.csv de formato (symbol, company_name) que indica aquellas acciones que deben ser consideradas para calcular el índice Standard & Poor’s 500 (S&P 500).

In [258]:
#